{% extends 'dashboard.html' %}\
{% block addcss %}
{% endblock %}
{% block content %}

<body>
    <div class="d1">
    <h2>View all Notes</h2>
    <form method="POST">
        <center>
            <table border="1">
                <thead>
                    <tr>
                        <th>notes_id</th>
                        <th>title</th>
                        <th>created time</th>
                        <th>view link</th>
                        <th>update link</th>
                        <th>delete link</th>


                    </tr>
                </thead>
                <tbody>
                    {% for i in notesdata %}
                    <tr>
                        <td> {{i[0]}}</td>
                        <td> {{i[1]}}</td>
                        <td> {{i[2]}}</td>
                        <!-- <td><a href="#">notes_id</a></td>
                        <td><a href="#">title</a></td>
                        <td><a href="#">Description</a> </td> -->
                        <td><a href="{{url_for('readnotes',nid=i[0])}}">view</a></td>
                        <td><a href="{{url_for('update',nid=i[0])}}">update</a></td>
                        <td><a href="{{url_for('delete',nid=i[0])}}">delete</a></td>

                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </center>
    </form>
    </div>
</body>
{% endblock %}
</html>